{% extends 'basic.html' %}
{% block title %} About Us {% endblock %}
{% load static %}
{% block body %}


<img src="{%static 'About1.jpg' %}" width="200" height="600" class="d-block w-100" class="img-fluid" alt="...">

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span>
        </h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.
        </p>
    </div>
    <div class="col-md-5">
        <img src="{%static '4.jpg' %}" width="200" height="600" class="d-block w-100" class="img-fluid" alt="...">

    </div>
</div>

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this
            layout would work with some actual real-world content in place.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="{%static '3.jpg' %}" width="200" height="600" class="d-block w-100" class="img-fluid" alt="...">

    </div>



{% endblock %}