{% extends 'basic.html' %}
{% load static %}
{% block title %}Check Out{% endblock title %}
{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-6">
                <h4>Order Summary</h4>
                <hr>
                {% for items in cart_items %}

                    <div class="card mb-2">
                        <div class="card-body">
                            <h5>Product: {{ items.product.title }}</h5>
                            <p>Quantity: {{ items.quantity }}</p>
                            <p>Price: {{ items.total_cost }}</p>
                        </div>
                    </div>
                {% endfor %}
                <p class="fw-bold">Total Cost + $30 = {{ totalamount }}</p>
                <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam
                    saepe! Iure optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam,
                    accusantium adipisci nisi nihil in et quis?</small>
            </div>
            <div class="col-sm-4 offset-sm-1">
                <h4>Select Shipping Address</h4>
                <hr>
                <form>
                    {% for ad in add %}
                        <div class="card">
                            <div class="card-body">
                                <h5>{{ ad.name }}</h5>
                                <p>{{ ad.address1 }}, {{ ad.address2 }} {{ ad.city }}, {{ ad.Postcode }}</p>
                            </div>
                        </div>
                        <div class="form-check mt-2 mb-5">
                            <input class="form-check-input" type="radio" name="custid" id="custadd{{ forloop.counter }}"
                                   value="{{ ad.id }}">
                            <label class="form-check-label fw-bold" for="">
                                Address: {{ forloop.counter }} </label>
                        </div>
                    {% endfor %}
                    <div class="text-end">
{#                        <form action="/create-checkout-session" method="POST">#}
{#                            <button type="submit" id="checkout-button" style="background-color: orange">Checkout#}
{#                            </button>#}
{#                        </form>#}
                                                <form action="{% url 'create-checkout-session' %}" method="POST" accept-charset="utf-8">
                                                    <button type="submit" id="checkout-button" class="blue-button"
                                                            style="width: 100%;"><font style="vertical-align: inherit;"><font
                                                            style="vertical-align: inherit;">Checkout</font></font></button>
                                                </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% csrf_token %}
{% endblock body %}
{% block js %}
    <script type="text/javascript">
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
            fetch("", {
                method: "POST",
                headers: {
                    'X-CSRFToken': csrftoken
                }
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    return stripe.redirectToCheckout({sessionId: session.id});
                })
                .then(function (result) {
                    // If redirectToCheckout fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using error.message.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        });

        // Disable the button until we have Stripe set up on the page
        document.querySelector("button").disabled = true;

        var elements = stripe.elements();
        var style = {
            base: {
                color: "#32325d",
                fontFamily: 'Arial, sans-serif',
                fontSmoothing: "antialiased",
                fontSize: "16px",
                "::placeholder": {
                    color: "#32325d"
                }
            },
            invalid: {
                fontFamily: 'Arial, sans-serif',
                color: "#fa755a",
                iconColor: "#fa755a"
            }
        };
        var card = elements.create("card", {style: style});
        // Stripe injects an iframe into the DOM
        card.mount("#card-element");
        card.on("change", function (event) {
            // Disable the Pay button if there are no card details in the Element
            document.querySelector("button").disabled = event.empty;
            document.querySelector("#card-error").textContent = event.error ? event.error.message : "";
        });
        var form = document.getElementById("payment-form");
        form.addEventListener("submit", function (event) {
            event.preventDefault();
            // Complete payment when the submit button is clicked
            fetch("", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({
                    email: document.getElementById('email').value
                })
            })
                .then(function (result) {
                    return result.json();
                })
                .then(function (data) {
                    payWithCard(stripe, card, data.clientSecret);
                });
        });

        // Calls stripe.confirmCardPayment
        // If the card requires authentication Stripe shows a pop-up modal to
        // prompt the user to enter authentication details without leaving your page.
        var payWithCard = function (stripe, card, clientSecret) {
            loading(true);
            stripe
                .confirmCardPayment(clientSecret, {
                    payment_method: {
                        card: card
                    }
                })
                .then(function (result) {
                    if (result.error) {
                        // Show error to your customer
                        showError(result.error.message);
                    } else {
                        // The payment succeeded!
                        orderComplete(result.paymentIntent.id);
                    }
                });
        };
        /* ------- UI helpers ------- */
        // Shows a success message when the payment is complete
        var orderComplete = function (paymentIntentId) {
            loading(false);
            document
                .querySelector(".result-message a")
                .setAttribute(
                    "href",
                    "https://dashboard.stripe.com/test/payments/" + paymentIntentId
                );
            document.querySelector(".result-message").classList.remove("hidden");
            document.querySelector("button").disabled = true;
        };
        // Show the customer the error from Stripe if their card fails to charge
        var showError = function (errorMsgText) {
            loading(false);
            var errorMsg = document.querySelector("#card-error");
            errorMsg.textContent = errorMsgText;
            setTimeout(function () {
                errorMsg.textContent = "";
            }, 4000);
        };
        // Show a spinner on payment submission
        var loading = function (isLoading) {
            if (isLoading) {
                // Disable the button and show a spinner
                document.querySelector("button").disabled = true;
                document.querySelector("#spinner").classList.remove("hidden");
                document.querySelector("#button-text").classList.add("hidden");
            } else {
                document.querySelector("button").disabled = false;
                document.querySelector("#spinner").classList.add("hidden");
                document.querySelector("#button-text").classList.remove("hidden");
            }
        };

    </script>
{% endblock js %}